body{
	background-image: url("image/background.gif");
	no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

canvas{
	background-image: url("image/grass.png");
	border: 10px solid red;
	display:block;
	margin: 0 auto;
		no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1{
	font-size: 40px;
	text-align:center;
	color:red;
}

